.form_wrapper {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form__input {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  border: 1px solid transparent;
  transition: all 0.4s linear;
  box-sizing: border-box;

  &::placeholder {
    color: #b0bec5;
  }

  &:focus,
  &:focus-within {
    outline: none;
    border: 1px solid #5e35b18c;
    & ~ button {
      background: #5e35b18c;
    }
  }
}

.form__button {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 15px;
  height: 42px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus-within,
  &:focus {
    background: #5e35b18c;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled:hover {
    background: transparent;
  }
}
