.layout_wrapper {
  display: flex;
  gap: 40px;
}

.navbar__wrapper {
  width: 30vw;
  position: relative;
}

.navbar__ul {
  width: 20%;
  height: calc(100% - 80px);
  background-color: #f1f1f1;
  position: fixed;
  overflow: auto;
  margin: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content_wrapper {
  width: 70vw;
  min-height: calc(100vh - 80px);
  padding: 40px 40px 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.navbar__form {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar__input {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  font-style: italic;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #494949d2;
  transition: all 0.4s linear;
  padding-right: 20px;

  &::placeholder {
    color: #b0bec5;
  }

  &:focus,
  &:focus-within,
  &:hover {
    outline: none;
    border-bottom: 1px solid #5e35b18c;
    & ~ span {
      color: #5e35b18c;
    }
  }
}

.navbar__inputPlus {
  position: absolute;
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  color: #b0bec5;
  right: 0;
}
