.modal_wrapper {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
  animation: quickScaleIn 0s 0.5s linear forwards;

  @keyframes quickScaleIn {
    0% {
      transform: scale(0);
    }
    99.9% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}

.out {
  display: none;
  animation: quickScaleDown 0s 0.5s linear forwards;

  @keyframes quickScaleDown {
    0% {
      transform: scale(1);
    }
    99.9% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

.modal_background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
  transform: scale(1);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  @keyframes fadeIn {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

.modal_content {
  width: 40vw;
  padding: 40px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.295) 0px 3px 8px;
}
